*.o
*.dSYM
*.csv
*.out
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
*.weight

ReDST_new
ReDST_old

data
data/*
dataset
dataset*
dataset/*
checkpoint/*
params
params/*
result/*
results
results/*
runs/*
log/*
__pycache__
*.json
*.npy
*.backup
.ipynb_checkpoints
